name: deploy-kafka

on:
  push:
    paths:
      - apps/zookeeper/**
      - apps/kafka/**
      - .github/**
    branches:
      - main
      - eds/main

jobs:
  deploy-zookeeper:
    name: Deploy Zookeeper
    uses: ./.github/workflows/reusable-deploy.yaml
    with:
      component: apps/zookeeper
    secrets:
      fly-api-token: ${{ secrets.FLY_API_TOKEN }}
  deploy-kafka:
    name: Deploy Kafka
    needs: deploy-zookeeper
    uses: ./.github/workflows/reusable-deploy.yaml
    with:
      component: apps/kafka
    secrets:
      fly-api-token: ${{ secrets.FLY_API_TOKEN }}
