name: reusable-test-node

on:
  workflow_call:
    component:
      description: "The component to test. Must match the name of a directory in the root of the repo."
      required: true
      type: string

jobs:
  test-frontboi:
    name: Test NodeJS app
    runs-on: ubuntu-latest
    defaults:
        run:
          working-directory: ${{ inputs.component }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 19.x
      - run: npm ci
      - run: npm run build --if-present
      - run: npm run test